@page "/login"
@using DDD_work.Services
@using DDD_work.Services.Auth 
@inject UserDataService UserDataService
@inject NavigationManager NavigationManager
@inject UserService UserService 

<h1>Sign In</h1>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" @bind="Username">
</div>

<div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" @bind="Password">
</div>

<button type="button" class="btn btn-primary" @onclick="HandleLogin">Continue</button>

@code {
    private string Username { get; set; }
    private string Password { get; set; }
    private string ErrorMessage { get; set; }

    private async Task HandleLogin()
    {
        ErrorMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(Username) || string.IsNullOrWhiteSpace(Password))
        {
            ErrorMessage = "Please enter both username and password.";
            return;
        }

        var authenticatedUser = await UserDataService.AuthenticateUserAsync(Username, Password);

        if (authenticatedUser != null)
        {
            
            UserService.SetCurrentUser(authenticatedUser);
            NavigationManager.NavigateTo("/feed");
        }
        else
        {
            ErrorMessage = "Incorrect username/password. Please try again.";
        }
    }
}